# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/
build/
build_gcc/
_build/
include/
output/
lib/
old/

# PyCharm and VScode directories
.idea/
.vscode/

*.zip

# VI swap files
*.swp

CMakeFiles
cmake_install.cmake
Makefile
